<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cashbox">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DaDataApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".AllCashboxes"></activity>
        <activity android:name=".TestDadata" />
        <activity
            android:name=".MyCashboxes"
            android:parentActivityName=".MyStores"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SelectCashbox"
            android:label="@string/title_add_cashbox"
            android:parentActivityName=".add_cashbox"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileEdit"
            android:label="@string/title_edit"
            android:parentActivityName=".OrdersActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MyStores"
            android:label="@string/my_stores"
            android:parentActivityName=".OrdersActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".OrdersFragment" />
        <activity
            android:name=".bottom_navbar"
            android:label="BottomNavBar"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_label"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NewOrderActivity"
            android:label="Новая заявка"
            android:parentActivityName=".OrdersActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".add_cashbox"
            android:label="@string/title_add_cashbox"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Register"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".AddStore"
            android:label="@string/title_add_store"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".OrdersActivity"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>